@charset "UTF-8"
$color_lightgray: #fafafa
$color_gray: #8b8b8b
$color_text_a: #333
$color_text: #777

html
  font-size: 62.5%
body
  position: relative
*
  // box-sizing: border-box
a
  cursor: pointer
  text-decoration: none
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6
  // font-weight: bold
  font-family: "source-han-serif-tc", serif
.font-sans
  font-family: -apple-system, BlinkMacSystemFont, "source-han-sans-traditional", sans-serif
  font-weight: 300
nav.navbar
  background-color: #fff
  border: 0px
  .navbar-brand
    color: #60758d
    &:hover
      color: #60758d
  .navbar-nav
    .btn-custom
      transition: 0.25s
      border-radius: 20px
      padding: 6px 26px
      border-color: #60758d
      color: #60758d
      margin-right: 15px
      &:hover
        background-color: #60758d
        color: #fff
      &:focus
        outline: none
        background-color: #FFF
        color: #60758d
      &:active
        background-color: #60758d
        color: #fff
  #visitors
    // display: none
  #member
    display: none
    span
      vertical-align: middle
    .count
      padding: 0 10px
      font-size: 1.8rem
      font-weight: bold
    #member-id
      color: #777
      margin-right: 8px
header
  background-image: url(../images/bg.jpg)
  background-size: cover
  background-attachment: fixed
  background-position: 50% 85%
  margin-bottom: 0
  .container
    color: #555
    padding: 200px 0px
  .heading
    font-size: 4rem
    color: #fff
    text-shadow: 0px 0px 10px #333
  .text
    font-size: 2rem
    font-weight: 300
    color: #fff
    text-shadow: 0px 0px 10px #333
  .btn-custom
    transition: 0.25s
    border-radius: 30px
    padding: 16px 60px
    font-size: 1.8rem
    margin: 20px auto
    background-color: #b73030
    border-color: transparent
    color: #fff
    &:hover
      background-color: #ec3d3d
      color: #fff
      border-color: #ec3d3d
section#play,section#result
  background-color: #F2F2F2
  padding: 60px 0
  .heading
    font-size: 3.0rem
    color: #151719
    text-shadow: 0px 0px 10px #b5b5b5
  hr
    width: 50%
    border-width: 1px 0
    border-style: solid
    border-color: #e3e3e3
    height: 4px
    margin-bottom: 40px
  .content
    background-color: #FFF
    padding: 20px
  .title
    color: #151719
    font-size: 2.4rem
    text-shadow: 0px 0px 10px #b5b5b5
  .text
    color: #838383
    font-size: 1.4rem
    text-shadow: 0px 0px 10px #c5c5c5
  .view
    background-color: #333
    width: 400px
    height: 300px
    margin: 0 auto
    img
      display: block
      max-width: 100%
      height: auto
  .timer
    font-size: 2.2rem
  .btn-custom
    margin: 20px 22px
    padding: 16px 24px
    font-size: 1.8rem
    border-color: transparent
    color: #fff
    background-color: #4f77a5
    border-radius: 30px
    // display: none
    &:hover
      background-color: #538bde
      color: #fff
    &:focus
      outline: none
      color: #fff
      background-color: #4f77a5
    &:active
      background-color: #60758d
      color: #fff
  .btn-answer,.btn-timeout
    padding: 8px 24px
    font-size: 1.8rem
    margin: 20px 20px
    border-color: transparent
    color: #fff
    background-color: #2f4156
    border-radius: 0px
    cursor: default
    // display: none
    &:focus
      outline: none
    &:active
      box-shadow: initial
section#result
  padding-top: 10px
#login,#register,#forget,#sent,#reset-password
  .modal-content
    padding: 25px 40px
    a
      float: right
      color: #4f77a5
    a#goto-register,a#goto-login
      margin-top: 15px
    a#goto-forget
      margin-bottom: 15px
  .modal-header
    .modal-title
      font-size: 2.4rem
      display: inline-block
  .modal-body
    .has-focus
      .input-group-addon
        border-color: #538bde
      .form-control
        border-color: #538bde
    .input-group-addon
      background-color: #FFF
      border-right: 0px
    .input-group
      margin-bottom: 15px
    .form-control
      border-left: 0px
      -webkit-box-shadow: none
      box-shadow: none
      padding-left: 0px
    .help-block
      margin: 0
    .context
      display: block
      margin-bottom: 15px
    .prompt
      display: block
      text-align: right
      margin-top: 15px
    .btn-primary
      background-color: #4f77a5
      border-color: #4f77a5
    .btn-custom
      padding: 8px 64px
    .btn-cancel
      background-color: #FFF
      color: #4f77a5
    .btn-right
      float: right
    .highlight
      // display: block
      margin: 20px auto
      color: #aaa
      font-size: 1.6rem
#login
  #login-email-group,#login-password-group
    .input-group
      margin-bottom: 15px
    .help-block
      margin-top: 0px
      margin-bottom: 0px
#alert
  .answer
    font-weight: bold
    padding-left: 4px
  .btn-custom
    margin: 12px 8px
    padding: 8px 16px
    font-size: 1.8rem
footer
  background-color: $color_gray
  color: #fff
  text-align: center
  padding: 30px 0px
  p
    margin-bottom: 0px
@media screen and (min-width: 768px)
  #login,#register,#forget,#sent,#reset-password
    .modal-dialog
      margin-top: 180px
  #alert
    .modal-dialog
      margin-top: 165px

    