html {
  font-size: 62.5%; }

body {
  position: relative; }

a {
  cursor: pointer;
  text-decoration: none; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "source-han-serif-tc", serif; }

.font-sans {
  font-family: -apple-system, BlinkMacSystemFont, "source-han-sans-traditional", sans-serif;
  font-weight: 300; }

nav.navbar {
  background-color: #fff;
  border: 0px; }
  nav.navbar .navbar-brand {
    color: #60758d; }
    nav.navbar .navbar-brand:hover {
      color: #60758d; }
  nav.navbar .navbar-nav .btn-custom {
    transition: 0.25s;
    border-radius: 20px;
    padding: 6px 26px;
    border-color: #60758d;
    color: #60758d;
    margin-right: 15px; }
    nav.navbar .navbar-nav .btn-custom:hover {
      background-color: #60758d;
      color: #fff; }
    nav.navbar .navbar-nav .btn-custom:focus {
      outline: none;
      background-color: #FFF;
      color: #60758d; }
    nav.navbar .navbar-nav .btn-custom:active {
      background-color: #60758d;
      color: #fff; }
  nav.navbar #member {
    display: block; }
    nav.navbar #member span {
      vertical-align: middle; }
    nav.navbar #member .count {
      padding: 0 10px;
      font-size: 1.8rem;
      font-weight: bold; }
    nav.navbar #member #member-id {
      color: #777;
      margin-right: 8px; }

header {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 85%;
  margin-bottom: 0; }
  header .container {
    color: #555;
    padding: 200px 0px; }
  header .heading {
    font-size: 4rem;
    color: #fff;
    text-shadow: 0px 0px 10px #333; }
  header .text {
    font-size: 2rem;
    font-weight: 300;
    color: #fff;
    text-shadow: 0px 0px 10px #333; }
  header .btn-custom {
    transition: 0.25s;
    border-radius: 30px;
    padding: 16px 60px;
    font-size: 1.8rem;
    margin: 20px auto;
    background-color: #b73030;
    border-color: transparent;
    color: #fff; }
    header .btn-custom:hover {
      background-color: #ec3d3d;
      color: #fff;
      border-color: #ec3d3d; }

section#play, section#result, section#rank {
  background-color: #F2F2F2;
  padding: 40px 0; }
  section#play .heading, section#result .heading, section#rank .heading {
    font-size: 3rem;
    color: #151719; }
  section#play hr, section#result hr, section#rank hr {
    width: 50%;
    border-width: 1px 0;
    border-style: solid;
    border-color: #e3e3e3;
    height: 4px;
    margin-bottom: 40px; }
  section#play .title, section#result .title, section#rank .title {
    color: #fff;
    font-size: 2.4rem;
    position: absolute;
    z-index: 3;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%); }
  section#play .text, section#result .text, section#rank .text {
    color: #fff;
    font-size: 1.4rem;
    position: absolute;
    z-index: 3;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); }
  section#play .view, section#result .view, section#rank .view {
    background-image: none;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 920px;
    height: 480px;
    margin: 0 auto;
    position: relative; }
    section#play .view img, section#result .view img, section#rank .view img {
      display: block;
      max-width: 100%;
      height: auto; }
  section#play .timer, section#result .timer, section#rank .timer {
    font-size: 2.2rem; }
  section#play .people, section#result .people, section#rank .people {
    font-size: 1.6rem; }
  section#play .btn-custom, section#result .btn-custom, section#rank .btn-custom {
    margin: 20px 22px;
    padding: 16px 24px;
    font-size: 1.8rem;
    border-color: transparent;
    color: #fff;
    background-color: #4f77a5;
    border-radius: 30px; }
    section#play .btn-custom:hover, section#result .btn-custom:hover, section#rank .btn-custom:hover {
      background-color: #538bde;
      color: #fff; }
    section#play .btn-custom:focus, section#result .btn-custom:focus, section#rank .btn-custom:focus {
      outline: none;
      color: #fff;
      background-color: #4f77a5; }
    section#play .btn-custom:active, section#result .btn-custom:active, section#rank .btn-custom:active {
      background-color: #60758d;
      color: #fff; }
  section#play .btn-answer, section#play .btn-timeout, section#result .btn-answer, section#result .btn-timeout, section#rank .btn-answer, section#rank .btn-timeout {
    padding: 8px 24px;
    font-size: 1.8rem;
    margin: 20px 20px;
    border-color: transparent;
    color: #fff;
    background-color: #2f4156;
    border-radius: 0px;
    cursor: default; }
    section#play .btn-answer:focus, section#play .btn-timeout:focus, section#result .btn-answer:focus, section#result .btn-timeout:focus, section#rank .btn-answer:focus, section#rank .btn-timeout:focus {
      outline: none; }
    section#play .btn-answer:active, section#play .btn-timeout:active, section#result .btn-answer:active, section#result .btn-timeout:active, section#rank .btn-answer:active, section#rank .btn-timeout:active {
      box-shadow: initial; }
  section#play #current-betting-countdown .btn-timeout, section#result #current-betting-countdown .btn-timeout, section#rank #current-betting-countdown .btn-timeout {
    display: none; }

section#result {
  padding-top: 10px; }

section#rank .content {
  background-color: #FFF;
  padding: 20px; }
section#rank .ranking {
  counter-reset: ranking; }
  section#rank .ranking .row {
    margin: 30px auto; }
section#rank .order {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  color: #fff;
  border: none;
  background-color: #60758d;
  margin: auto; }
  section#rank .order::before {
    content: counter(ranking);
    counter-increment: ranking;
    font-size: 3rem;
    vertical-align: text-top; }
section#rank .name {
  font-size: 2.6rem;
  font-weight: 500;
  margin: auto;
  display: inline-block; }
section#rank .times {
  display: inline-block;
  font-size: 1.8rem;
  margin: 0 10px; }
  section#rank .times .count {
    padding: 0 10px;
    font-size: 2.2rem;
    font-weight: bold;
    color: #4f77a5; }

#login .modal-content, #register .modal-content, #forget .modal-content, #sent .modal-content, #reset-password .modal-content {
  padding: 25px 40px; }
  #login .modal-content a, #register .modal-content a, #forget .modal-content a, #sent .modal-content a, #reset-password .modal-content a {
    float: right;
    color: #4f77a5; }
  #login .modal-content a#goto-register, #login .modal-content a#goto-login, #register .modal-content a#goto-register, #register .modal-content a#goto-login, #forget .modal-content a#goto-register, #forget .modal-content a#goto-login, #sent .modal-content a#goto-register, #sent .modal-content a#goto-login, #reset-password .modal-content a#goto-register, #reset-password .modal-content a#goto-login {
    margin-top: 15px; }
  #login .modal-content a#goto-forget, #register .modal-content a#goto-forget, #forget .modal-content a#goto-forget, #sent .modal-content a#goto-forget, #reset-password .modal-content a#goto-forget {
    margin-bottom: 15px; }
#login .modal-header .modal-title, #register .modal-header .modal-title, #forget .modal-header .modal-title, #sent .modal-header .modal-title, #reset-password .modal-header .modal-title {
  font-size: 2.4rem;
  display: inline-block; }
#login .modal-body .has-focus .input-group-addon, #register .modal-body .has-focus .input-group-addon, #forget .modal-body .has-focus .input-group-addon, #sent .modal-body .has-focus .input-group-addon, #reset-password .modal-body .has-focus .input-group-addon {
  border-color: #538bde; }
#login .modal-body .has-focus .form-control, #register .modal-body .has-focus .form-control, #forget .modal-body .has-focus .form-control, #sent .modal-body .has-focus .form-control, #reset-password .modal-body .has-focus .form-control {
  border-color: #538bde; }
#login .modal-body .input-group-addon, #register .modal-body .input-group-addon, #forget .modal-body .input-group-addon, #sent .modal-body .input-group-addon, #reset-password .modal-body .input-group-addon {
  background-color: #FFF;
  border-right: 0px; }
#login .modal-body .input-group, #register .modal-body .input-group, #forget .modal-body .input-group, #sent .modal-body .input-group, #reset-password .modal-body .input-group {
  margin-bottom: 15px; }
#login .modal-body .form-control, #register .modal-body .form-control, #forget .modal-body .form-control, #sent .modal-body .form-control, #reset-password .modal-body .form-control {
  border-left: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-left: 0px; }
#login .modal-body .help-block, #register .modal-body .help-block, #forget .modal-body .help-block, #sent .modal-body .help-block, #reset-password .modal-body .help-block {
  margin: 0; }
#login .modal-body .context, #register .modal-body .context, #forget .modal-body .context, #sent .modal-body .context, #reset-password .modal-body .context {
  display: block;
  margin-bottom: 15px; }
#login .modal-body .prompt, #register .modal-body .prompt, #forget .modal-body .prompt, #sent .modal-body .prompt, #reset-password .modal-body .prompt {
  display: block;
  text-align: right;
  margin-top: 15px; }
#login .modal-body .btn-primary, #register .modal-body .btn-primary, #forget .modal-body .btn-primary, #sent .modal-body .btn-primary, #reset-password .modal-body .btn-primary {
  background-color: #4f77a5;
  border-color: #4f77a5; }
#login .modal-body .btn-custom, #register .modal-body .btn-custom, #forget .modal-body .btn-custom, #sent .modal-body .btn-custom, #reset-password .modal-body .btn-custom {
  padding: 8px 64px; }
#login .modal-body .btn-cancel, #register .modal-body .btn-cancel, #forget .modal-body .btn-cancel, #sent .modal-body .btn-cancel, #reset-password .modal-body .btn-cancel {
  background-color: #FFF;
  color: #4f77a5; }
#login .modal-body .btn-right, #register .modal-body .btn-right, #forget .modal-body .btn-right, #sent .modal-body .btn-right, #reset-password .modal-body .btn-right {
  float: right; }
#login .modal-body .highlight, #register .modal-body .highlight, #forget .modal-body .highlight, #sent .modal-body .highlight, #reset-password .modal-body .highlight {
  margin: 20px auto;
  color: #aaa;
  font-size: 1.6rem; }

#login #login-email-group .input-group, #login #login-password-group .input-group {
  margin-bottom: 15px; }
#login #login-email-group .help-block, #login #login-password-group .help-block {
  margin-top: 0px;
  margin-bottom: 0px; }

#alert .answer {
  font-weight: bold;
  padding-left: 4px; }
#alert .btn-custom {
  margin: 12px 8px;
  padding: 8px 16px;
  font-size: 1.8rem; }

footer {
  background-color: #8b8b8b;
  color: #fff;
  text-align: center;
  padding: 30px 0px; }
  footer p {
    margin-bottom: 0px; }

@media screen and (min-width: 768px) {
  #login .modal-dialog, #register .modal-dialog, #forget .modal-dialog, #sent .modal-dialog, #reset-password .modal-dialog {
    margin-top: 180px; }

  #alert .modal-dialog {
    margin-top: 165px; } }

/*# sourceMappingURL=style.css.map */
