html {
  font-size: 62.5%; }

body {
  position: relative; }

a {
  cursor: pointer;
  text-decoration: none; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "source-han-sans-traditional", "source-han-serif-tc", serif; }

.font-sans {
  font-family: -apple-system, BlinkMacSystemFont, "Noto Sans", sans-serif; }

nav.navbar {
  background-color: #fff;
  border: 0px; }
  nav.navbar .navbar-brand {
    color: #60758d; }
  nav.navbar .navbar-nav .btn-custom {
    border-radius: 20px;
    padding: 6px 26px;
    border-color: #60758d;
    color: #60758d;
    margin-right: 15px; }
    nav.navbar .navbar-nav .btn-custom:hover {
      background-color: #60758d;
      color: #fff; }
    nav.navbar .navbar-nav .btn-custom:focus {
      outline: none;
      background-color: #FFF;
      color: #60758d; }
    nav.navbar .navbar-nav .btn-custom:active {
      background-color: #60758d;
      color: #fff; }
    nav.navbar #member span {
      vertical-align: middle; }
    nav.navbar #member .count {
      padding: 0 10px;
      font-size: 1.8rem;
      font-weight: bold; }
    nav.navbar #member #member-id {
      color: #eee;
      margin-right: 8px; }

header {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 85%;
  margin-bottom: 0; }
  header .container {
    color: #555;
    padding: 200px 0px; }
  header .heading {
    font-size: 4rem;
    color: #fff; }
  header .text {
    font-size: 2rem;
    color: #fff; }
  header .btn-custom {
    border-radius: 30px;
    padding: 16px 60px;
    font-size: 1.8rem;
    margin: 20px auto;
    background-color: #b73030;
    border-color: transparent;
    color: #fff; }
    header .btn-custom:hover {
      background-color: #ec3d3d;
      color: #fff;
      border-color: #ec3d3d; }

section#play, section#result {
  background-color: #F2F2F2;
  padding: 60px 0; }
  section#play .heading, section#result .heading {
    font-size: 3rem;
    color: #151719; }
  section#play hr, section#result hr {
    width: 50%;
    border-width: 1px 0;
    border-style: solid;
    border-color: #e3e3e3;
    height: 4px;
    margin-bottom: 40px; }
  section#play .content, section#result .content {
    background-color: #FFF;
    padding: 20px; }
  section#play .title, section#result .title {
    color: #151719;
    font-size: 2.4rem; }
  section#play .text, section#result .text {
    color: #838383;
    font-size: 1.4rem; }
  section#play .view, section#result .view {
    background-color: #333;
    width: 400px;
    height: 300px;
    margin: 0 auto; }
  section#play .btn-custom, section#result .btn-custom {
    margin: 20px 22px;
    padding: 16px 24px;
    font-size: 1.8rem;
    border-color: transparent;
    color: #fff;
    background-color: #4f77a5;
    border-radius: 30px; }
    section#play .btn-custom:hover, section#result .btn-custom:hover {
      background-color: #538bde;
      color: #fff; }
    section#play .btn-custom:focus, section#result .btn-custom:focus {
      outline: none;
      color: #fff;
      background-color: #4f77a5; }
    section#play .btn-custom:active, section#result .btn-custom:active {
      background-color: #60758d;
      color: #fff; }
  section#play .btn-answer, section#result .btn-answer {
    padding: 8px 24px;
    font-size: 1.8rem;
    margin: 20px 20px;
    border-color: transparent;
    color: #fff;
    background-color: #2f4156;
    border-radius: 0px;
    cursor: default; }
    section#play .btn-answer:focus, section#result .btn-answer:focus {
      outline: none; }
    section#play .btn-answer:active, section#result .btn-answer:active {
      box-shadow: initial; }

section#result {
  padding-top: 10px; }

#login .modal-content, #register .modal-content, #forget .modal-content, #sent .modal-content {
  padding: 20px 40px; }
  #login .modal-content a, #register .modal-content a, #forget .modal-content a, #sent .modal-content a {
    float: right;
    margin-bottom: 15px; }
#login .modal-header .modal-title, #register .modal-header .modal-title, #forget .modal-header .modal-title, #sent .modal-header .modal-title {
  font-size: 2.4rem;
  display: inline-block; }
#login .modal-body .input-group-addon, #register .modal-body .input-group-addon, #forget .modal-body .input-group-addon, #sent .modal-body .input-group-addon {
  background-color: #FFF;
  border-right: 0px; }
#login .modal-body .input-group, #register .modal-body .input-group, #forget .modal-body .input-group, #sent .modal-body .input-group {
  margin-bottom: 15px; }
#login .modal-body .form-control, #register .modal-body .form-control, #forget .modal-body .form-control, #sent .modal-body .form-control {
  border-left: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-left: 0px; }
  #login .modal-body .form-control:focus, #register .modal-body .form-control:focus, #forget .modal-body .form-control:focus, #sent .modal-body .form-control:focus {
    border-color: #aaa; }
#login .modal-body .context, #register .modal-body .context, #forget .modal-body .context, #sent .modal-body .context {
  display: block;
  margin-bottom: 15px; }
#login .modal-body .prompt, #register .modal-body .prompt, #forget .modal-body .prompt, #sent .modal-body .prompt {
  display: block;
  text-align: right;
  margin-top: 15px; }
#login .modal-body .btn-custom, #register .modal-body .btn-custom, #forget .modal-body .btn-custom, #sent .modal-body .btn-custom {
  padding: 8px 64px; }
#login .modal-body .btn-right, #register .modal-body .btn-right, #forget .modal-body .btn-right, #sent .modal-body .btn-right {
  float: right; }
#login .modal-body .highlight, #register .modal-body .highlight, #forget .modal-body .highlight, #sent .modal-body .highlight {
  display: block;
  margin: 20px auto;
  color: #aaa;
  font-size: 1.6rem; }

#alert .answer {
  font-weight: bold;
  padding-left: 4px; }
#alert .btn-custom {
  margin: 12px 8px;
  padding: 8px 16px;
  font-size: 1.8rem; }

footer {
  background-color: #8b8b8b;
  color: #fff;
  text-align: center;
  padding: 30px 0px; }
  footer p {
    margin-bottom: 0px; }

@media screen and (min-width: 768px) {
  #login .modal-dialog, #register .modal-dialog, #forget .modal-dialog, #sent .modal-dialog {
    margin: 245px auto; }

  #alert .modal-dialog {
    margin: 165px auto; } }

/*# sourceMappingURL=style.css.map */
